<h1 class="pd-4">About ME!</h1>
<center>
    <img src="/img/sakshi.jpg" alt="Sakshi">
        <p>Hello! Im Sakshi Sethi, Third Year Undergradute from PICT!</p>
        <ul>Here are some of my socials!</ul>
        <li><a href=""></a>Instagram <i class="fa fa-instagram"></i></a></li>
</center>